<!DOCTYPE html>
<html>
    <head>
        {% block appheader %}
            {% block appcssheader %}{% endblock appcssheader%}
            {% block appscriptheader %}{% endblock appscriptheader %}
        {% endblock appheader %}
   </head>
   <body>
       {% block appslideshow %}{% endblock appslideshow %} 
       {% block appmenu %}{% endblock appmenu %}
       {% block appcontent %}{% endblock appcontent %}
       {% block appfooter %}{% endblock appfooter %}
       {% block appscript %}{% endblock appscript %}
    </body>
</html>
