<!DOCTYPE html>
<html>
    <head>
        {% block appheader %}
            {% block appcssheader %}{% endblock appcssheader%}
            {% block appscriptheader %}{% endblock appscriptheader %}
        {% endblock appheader %}
   </head>
   <body>
   {% block appbody %}
       {% block appcontentheader %}
           {% block applogo %}{% endblock applogo %}
       {% endblock appcontentheader %}
       {% block appslideshow %}{% endblock appslideshow %} 
       {% block appmenu %}{% endblock appmenu %}
       {% block appcontent %}{% endblock appcontent %}
       {% block appfooter %}{% endblock appfooter %}
       {% block appscript %}{% endblock appscript %}
   {% endblock appbody  %}
    </body>
</html>
