{% extends '::Instant.html.twig' %}

{%  block appheader %}
  		<meta charset="UTF-8" />
        <title>Instant</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block appcss%}
    	<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />      
        {% block css %}{% endblock css %}
    {% endblock appcss %}
    {% block appscriptheader %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
  				integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  				crossorigin="anonymous" type="text/javascript"></script>
        {% block scriptheader %}{% endblock scriptheader %}
    {% endblock appscriptheader %}
{%  endblock appheader %}
{% block appbody %}
	<div id="page">
    {% block appcontentheader %}
     {% block applogo %}
          	    <div id="logo">
            		<img src="{{ asset('images/logo.png') }}" alt="SMTR"/>
            	</div>  <!--  logo -->
  
     {% endblock applogo %}
    {% block contentheader %}{% endblock contentheader %}
    {% endblock appcontentheader %}
    {% block appmenu %}	 			
        {% block menu %}{% endblock menu %}
    {% endblock appmenu %}
    {% block appslideshow %}
        {% block slideshow %}{% endblock slideshow %}
    {% endblock appslideshow %}
    {% block appcontent %}
 	       {% block content %}{% endblock content%}
    {% endblock appcontent%}
    {% block appfooter %}
        {% block footer %}{% endblock footer %}
    {% endblock appfooter %}
    {% block appscript%}
        {% block script%}{% endblock script%}
    {% endblock appscript %}
    </div> <!-- page -->
{% endblock appbody %}